<!-- Template HTML-->
<div class="h1" class="container">
  <h1>Disciplinas</h1> <hr>
    <td><button (click)="selecionar(true)" class="btn">Novo</button> </td>
  <table class="table table-hover table-bordered">
    <thead class="line1">
      <th>Código</th>
      <th>Nome</th>
      <th width="200">Ações</th>
    </thead>
    <tbody>
      <tr *ngFor = "let disciplina of disciplinas">
        <td id="detail">{{disciplina.codigo}}</td>
        <td (click)="detalhes(disciplina)"> {{disciplina.nome}}</td>
          <button (click)="excluir(disciplina)"  class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
            Excluir
          </button>
          <button (click)="editar(disciplina)" (click)="selecionar(true)" class="btn btn-sm btn-primary">
              <i class="fa fa-pencil-square"></i>
              Editar
          </button>
      </tr>
    </tbody>
  </table>


<ul> <!-- listar dados completos da disciplina quando clicado no nome -->
  <li *ngFor="let disciplina of disciplinas">
    <p *ngIf="marcado == disciplina">
      <strong>Código:</strong> {{disciplina.codigo}}<br>
      <strong>Disciplina:</strong> {{disciplina.nome}}<br>
      <strong>Descrição:</strong> {{disciplina.descricao}}<br>
    </p>
  </li>
</ul>

<h1>Cadastrar</h1> <hr> <!-- Formulário para edição/adição de novas disciplinas -->

  <form *ngIf="selecionado == true" #cadastro="ngForm" (submit)="salvar()">
    <div>
      <label for="codigo">Código</label><br>
      <input type="number" id="codigo" name="codigo" [(ngModel)]="codigo" required class="form-control">
    </div>
    <div>
      <label for="nome">Nome</label><br>
      <input type="text" id="nome" name="nome" [(ngModel)]="nome" required class="form-control">
    </div>
    <div>
      <label for="descricao">Descrição</label><br>
      <textarea id="descricao" name="descricao" [(ngModel)]="descricao"
        cols="70" rows="5" class="form-control">
      </textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">
        <i class="fa fa-save"></i>
        Salvar
    </button>
    <button type="reset" (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
  </form>
</div>
