<!-- Template HTML-->
<div class="h1" class="container">
  <h1>Disciplinas</h1> <hr>
    <td><button (click)="selecionar(true)" class="btn btn-primary">
        <i class="fa fa-plus-circle"></i>
        Novo
    </button> </td>
  <table class="table table-hover table-bordered">
    <thead class="line1">
      <th>Código</th>
      <th>Nome</th>
      <th width="200">Ações</th>
    </thead>
    <tbody>
      <tr *ngFor = "let disciplina of disciplinas">
        <td id="detail">{{disciplina.codigo}}</td>
        <td (click)="detalhes(disciplina)"> {{disciplina.nome}}</td>
          <button (click)="excluir(disciplina)"  class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
            Excluir
          </button>
          <button (click)="editar(disciplina)" (click)="selecionar(true)" class="btn btn-sm btn-primary">
              <i class="fa fa-pencil-square"></i>
              Editar
          </button>
      </tr>
    </tbody>
  </table>


<ul> <!-- listar dados completos da disciplina quando clicado no nome -->
  <li *ngFor="let disciplina of disciplinas">
    <p *ngIf="marcado == disciplina">
      <strong>Código:</strong> {{disciplina.codigo}}<br>
      <strong>Disciplina:</strong> {{disciplina.nome}}<br>
        <strong>Data:</strong> {{disciplina.data}}<br>
        <strong>Situação(ativo ou desativado):</strong> {{disciplina.ativo}}<br>
        <strong>Tipo:</strong> {{disciplina.tipo}}<br>
        <strong>Periodo</strong> {{disciplina.periodo}}<br>
      <strong>Descrição:</strong> {{disciplina.descricao}}<br>
    </p>
  </li>
</ul>

<h1>Cadastrar</h1> <hr> <!-- Formulário para edição/adição de novas disciplinas -->

  <form *ngIf="selecionado == true" #cadastro="ngForm" (submit)="salvar()">
    <div>
      <label for="codigo">Código</label><br>
      <input type="number" id="codigo" name="codigo" [(ngModel)]="codigo" required class="form-control">
    </div>
    <div>
      <label for="nome">Nome</label><br>
      <input type="text" id="nome" name="nome" [(ngModel)]="nome" required class="form-control">
    </div>
      <div>
          <label for="data">Data</label><br>
          <input type="date" id="data" name="data" [(ngModel)]="data" required class="form-control">
      </div>
      <br>
      Situação:
      <div class="btn-group btn-group-toggle">
          <label class="btn btn-light" ngbButtonLabel>
            <input type="checkbox" name="ativo" ngbButton [(ngModel)]="ativo">{{ativo}} <br>
          </label>
      </div>
      <br>
      <br>
      Tipo:
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="tipo" [(ngModel)]="tipo">
          <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="Primário"> Primário
          </label>
          <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" value="Secundário"> Secundário
          </label>
      </div>
      <br><br>
      <div>
        <label for="periodo">Período</label><br>
          <select id="periodo" name="periodo" required class="form-control" [(ngModel)]="periodo">
              <option value=null>Selecionar...</option>
             <option value="1º">1º Periodo</option>
             <option value="2º">2º Periodo</option>
             <option value="3º">3º Periodo</option>
             <option value="4º">4º Periodo</option>
             <option value="5º">5º Periodo</option>
             <option value="6º">6º Periodo</option>
             <option value="7º">7º Periodo</option>
             <option value="8º">8º Periodo</option>
         </select>
     </div>
    <div>
      <label for="descricao">Descrição</label><br>
      <textarea id="descricao" name="descricao" [(ngModel)]="descricao"
        cols="70" rows="5" class="form-control">
      </textarea>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!cadastro.valid">
        <i class="fa fa-save"></i>
        Salvar
    </button>
    <button type="reset" (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
  </form>
</div>
